<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="container text-center">
        <h1>Datos encontrados</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h2>Name</h2>
                    </th>
                    <th>
                        <h2>Age</h2>
                    </th>
                    <th>
                        <h2>Id</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for col in database %}
                <tr>
                    <td>{{col.name}}</td>
                    <td>{{col.age}}</td>
                    <td>{{col.id}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="{% url 'deleteObj' %}">
            <input type="submit" value="borrar todo" class="btn btn-primary">
        </form>
        <form action="{% url 'insertardato' %}">
            <input type="submit" value="presione para ingresar un dato" class="btn btn-primary">
        </form>
    </div>
</body>

</html>